

.grid-container {
    display: grid;
    
    
    grid-template-columns: 50vw 50vw;
    grid-template-rows: calc(100vh - 3rem) auto;

    @media screen and (orientation : portrait){
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 100vw auto;
    }

    .grid-image {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;

        img {
            width: 100%;
            height: calc(100vh - 3rem);
            object-fit: cover;
            object-position: center;
        }

        @media screen and (orientation : portrait){
            grid-column-start: 1;
            grid-column-end: span 2;
            grid-row-start: 1;
            grid-row-end: span 1;

            img {
                height: 100%;    
            }
        }
    }

    .grid-content {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;

        @media screen and (orientation : portrait){
            grid-column-start: 1;
            grid-column-end: span 2;
            grid-row-start: 2;
            grid-row-end: span 1;
        }

        overflow: auto;
        padding: 2.5rem;

        .title {
            h1 {
                margin-top: 0;
                margin-bottom: 2.5rem; 
            }
        }

        .infos {
            display: inline-block;

            & > div {
                float: left;
                margin-right: 2.5rem;
            }
        }

        .ingredients {
            h3 {
                margin-top: 0;
            }
        }

        .steps {
            
        }
    }
}